%p I’m a designer who dreams in front-end code, writes about design systems, and talks about full stack UX. Designing developer experiences at Pivotal Cloud Foundry.
%p I spend the rest of my time drawing spaceships, backpacking, and reading science fiction.
