.nav-list.ptxl.type-md
  %a.nav-item.nav-item-selected  Kessel
  %a.nav-item America This Is Us
  %a.nav-item Flex Grid Lite
  %a.nav-item Foldspace
  %a.nav-item Webweaver (coming soon)
  %a.nav-item 8Gauge (coming soon)
