---
title: 8 Gauge
---

.page
	.grid
		.col.col-fixed
			.navigation.paxxl
				%h1.title Elliot Dahl
				.nav-list.ptxl.type-md
					.nav-item Bio
					.nav-item Work
					.nav-item Projects
					.nav-item Writing
					.nav-item Connect
		.col
			%section
				.section.section-bio
					=partial 'partials/bio.haml'
				.section.section-work.hide
					=partial 'partials/work.haml'
